body {
    padding: 22px;
    margin: 0 auto;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    background-color: #32a8a2;
}

* {
    background-color: rgb(208, 211, 211);
    box-sizing: border-box;
}

.container {
    margin: auto auto;
    width: 100%;
    border-radius: 8px;
    padding: 2%;
  }

caption {
    font-size: 26px;
    font-family: "Rock Salt", cursive;
}

/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid grey;
  }

  th, td {
    padding: 20px;
  }

  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tr:nth-child(even) {
    border-color:grey;

  }
  
  tbody td {
    text-align: center;
  }
  

/* responsiveness */
  
@media (max-width: 760px) {
    table {
      width: 100%;
    }

  }