@import "./variables.css";
body, html {
    padding: 0;
    margin: 0;
}

.container {
    width: var(--container-width);
    max-width: 1200px;
    display: var(--flex);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: var(--full-height);
    margin: 0 auto;
    padding: 20px;
    /* border: var(--red-border); */
}

.form-wrapper {
    width: 400px;
    border: var(--gray-border);
    border-radius: 16px;
    padding: 48px;
}

.form {
    width: 100%;
    display: var(--flex);
    flex-direction: column;

}

.form-group {
    display: var(--flex);
    flex-direction: column;
}

.input-label {
    font-size: 18px;
}

.input, .select, .textarea {
    width: var(--container-width);
    border: var(--gray-alt-border);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 14px;
    margin: 6px 0 30px;
}

.input:focus {
    outline-color: green;
}

.input::placeholder {
    color: grey;
}

.btn-login {
    background-color: var(--bg-green);
    border: none;
    padding: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s;
}

.btn-login:hover {
    background-color: var(--bg-dark-green);
}
